// app global css in SCSS form
// src/main.js
@import 'src/css/tokens.css';


:root{
  --divider-color: #3b1d12;   /* sepia */
  --divider-gap: 8px;         /* distanza tra le due linee */
  --divider-thick: 1.5px;     /* spessore delle linee */
  --section-bg: transparent;  /* sfondo del wrapper */
}